Fase 2/Evidencias Proyecto/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "d12915e1-71ac-40da-b1c4-5331362e6303",
      "name": "when message received",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -544,
        96
      ],
      "webhookId": "6b645b70-61db-4d4d-af47-2f39295cf196",
      "typeVersion": 1,
      "executeOnce": false,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "99ewG9RNMdABwReJ",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const body = $json.messages[0].text.body.toLowerCase();\nlet intent = 'info';\nif (body.includes('agendar') || body.includes('reservar') || body.includes('clase')) {\n  intent = 'booking';\n}\nreturn [{ json: { ...$json, intent } }];"
      },
      "id": "3336f490-7886-4cb1-b63f-3f44ad7496e7",
      "name": "Intent Router",
      "type": "n8n-nodes-base.code",
      "position": [
        -368,
        96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=1vUsOjk0rOXZNDsrLYSBKBPF8OWCQ8KRiVlLoj_4h4HE"
      },
      "id": "318731df-d62c-42e9-b204-184d554b4d09",
      "name": "company's knowledge",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        0,
        0
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XDjQTHS7IICSvSI",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "instructions": "Write code to:\n• Get today’s date formatted “Month Day, Year”\n• Extract the Google Doc’s plain text by joining its body.content textRuns\n• Extract the WhatsApp message from messages[0].text.body\n• Build a field finalPrompt exactly as:\n\nvbnet\nCopy\nEdit\nToday's date is: [date]\n\n[doc text]\n\nUser's question:\n[body]\n• Return finalPrompt only.",
        "codeGeneratedForPrompt": "Write code to:\n• Get today’s date formatted “Month Day, Year”\n• Extract the Google Doc’s plain text by joining its body.content textRuns\n• Extract the WhatsApp message from messages[0].text.body\n• Build a field finalPrompt exactly as:\n\nvbnet\nCopy\nEdit\nToday's date is: [date]\n\n[doc text]\n\nUser's question:\n[body]\n• Return finalPrompt only.",
        "jsCode": "const googleDocs = $input.all().map((item) => item.json);\nconst whatsappMessages = $(\"when message received\")\n  .all()\n  .map((item) => item.json);\n\nconst date = new Date();\nconst formattedDate = `${date.getMonth() + 1} ${date.getDate()}, ${date.getFullYear()}`;\n\nconst docText = googleDocs[0].content.split(\"\\n\").join(\" \");\n\nconst body = whatsappMessages[0].messages[0].text.body;\n\nconst finalPrompt = `Today's date is: ${formattedDate}\\n\\n${docText}\\n\\nUser's question:\\n${body}`;\n\nreturn { finalPrompt };"
      },
      "id": "78150109-dc9f-4f29-b14a-ba49875c02d6",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.aiTransform",
      "position": [
        192,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a4275dee-f841-48a0-be0d-2b7922e8d100",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        224,
        192
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "FoXisJrzOryvNG56",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('when message received').item.json.contacts[0].wa_id }}"
      },
      "id": "f31a035d-d4e3-4514-9903-4bfb006423fa",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        400,
        192
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.finalPrompt }}\n\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are [Company]’s support assistant for Black Ball Sporting Club.\nDo NOT include any preamble such as “Based on the document you provided” or “According to the document”. Never mention documents at all, and do not mention today's date unless the user explicitly asks.\n\nYou MUST:\n1. Decide if the user is trying to BOOK a class or ONLY ASK FOR INFORMATION.\n2. Decide if the user wants CLASS 1 or CLASS 2 based on their message in Spanish.\n3. Always output your response in the following format, in this exact order:\n\nINTENT: booking|info\nCLASS: clase1|clase2|none\n\n[Then a blank line]\n[Then the answer for the user in Spanish]\n\nRules:\n- INTENT must be exactly one of: \"booking\" or \"info\".\n- CLASS must be exactly one of: \"clase1\", \"clase2\", or \"none\".\n- Use CLASS = \"clase1\" when the user asks for the first class, class number 1, initial class, beginner class, or similar.\n- Use CLASS = \"clase2\" when the user asks for the second class, class number 2, next class, advanced class, or similar.\n- Use CLASS = \"none\" when the user is not clearly asking for class 1 or class 2.\n\nExamples:\n\nUser: \"Quiero agendar la primera clase para hoy\"\nAssistant:\nINTENT: booking\nCLASS: clase1\n\nPerfecto, te ayudo con la reserva para la primera clase de hoy. Déjame comprobar la disponibilidad.\n\nUser: \"Me puedes contar los horarios de las clases?\"\nAssistant:\nINTENT: info\nCLASS: none\n\nClaro, te cuento los horarios de las clases: ...\n\nUser: \"Quiero reservar la clase número 2 para mañana\"\nAssistant:\nINTENT: booking\nCLASS: clase2\n\nGenial, te ayudo con la reserva para la clase número 2. Te explico cómo funciona.\n"
        }
      },
      "id": "ad6973cc-c139-4dad-ada8-4935ca21b995",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "maxTries": 5,
      "position": [
        352,
        0
      ],
      "retryOnFail": false,
      "typeVersion": 1.7,
      "alwaysOutputData": true,
      "waitBetweenTries": null
    },
    {
      "parameters": {
        "jsCode": "// cleanAnswer – run once per item\nlet raw = $('AI Agent').first().json.output || '';\n\nconst lines = raw.split('\\n');\n\n// Valores por defecto\nlet intent = 'info';\nlet clase = 'none';\n\n// 1) Leer INTENT de la primera línea: INTENT: booking|info\nif (lines[0]) {\n  const mIntent = lines[0].match(/INTENT:\\s*(\\w+)/i);\n  if (mIntent) intent = mIntent[1].toLowerCase();\n}\n\n// 2) Leer CLASS de la segunda línea: CLASS: clase1|clase2|none\nif (lines[1]) {\n  const mClass = lines[1].match(/CLASS:\\s*(\\w+)/i);\n  if (mClass) clase = mClass[1].toLowerCase();\n}\n\n// 3) Quitar las dos primeras líneas y la posible línea en blanco\nlet txt = lines.slice(2).join('\\n').replace(/^\\s*\\n/, '');\n\n// 4) Limpiezas que ya tenías\ntxt = txt.replace(/[*_~]+/g, '');\ntxt = txt.replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\s)]+)\\)/g, '$1 $2');\ntxt = txt.replace(/\\n{3,}/g, '\\n\\n').trim();\ntxt = txt.replace(/^.*?based on the document you provided[,:]?\\s*/i, '');\n\nreturn [{\n  json: {\n    answer: txt,\n    intent,\n    clase\n  }\n}];\n"
      },
      "id": "53ba54a7-5c1e-4566-a7c8-d9b07cacf039",
      "name": "cleanAnswer",
      "type": "n8n-nodes-base.code",
      "position": [
        640,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// within24h? – run once per item\nconst lastTs = Number($('when message received').first().json.messages[0].timestamp) * 1000;\nconst withinWindow = Date.now() - lastTs < 24 * 60 * 60 * 1000;\n\n// OJO: copiamos intent y clase desde cleanAnswer\nreturn [{\n  json: {\n    \n    answer: $json.answer,\n    intent: $json.intent,\n    clase: $json.clase\n  }\n}];\n"
      },
      "id": "03d0d325-86d7-49fa-bd55-4f598d2e9891",
      "name": "24-hour window check",
      "type": "n8n-nodes-base.code",
      "position": [
        1040,
        128
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "915165755012088",
        "recipientPhoneNumber": "={{ $('when message received').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.answer }}",
        "additionalFields": {}
      },
      "id": "38ffe8fe-4cdd-461c-aabe-f908af2d704d",
      "name": "Send AI Agent's Answer",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        1344,
        80
      ],
      "webhookId": "8da6eeda-31ec-448a-9d75-2d5dbc5f10f9",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "4HVsJumY6BdDiZca",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Datos que vienen del flujo después de cleanAnswer / If Booking\n// Aquí ya tienes intent y clase en $json\nconst clase = $json.clase || 'clase1';\n\n// Leer siempre el mensaje y los contactos desde el trigger original\nconst trigger = $('when message received').first().json;\nconst msg = trigger.messages?.[0]?.text?.body?.toLowerCase() ?? '';\n\nconst now = new Date();\nconst yyyy = now.getFullYear();\nconst mm = String(now.getMonth() + 1).padStart(2, '0');\nconst dd = String(now.getDate()).padStart(2, '0');\nconst fecha = `${yyyy}-${mm}-${dd}`;\n\n// Nombre y teléfono desde el trigger\nconst nombre = trigger.contacts?.[0]?.profile?.name ?? '';\nconst telefono = trigger.contacts?.[0]?.wa_id ?? '';\n\n// Si quieres, aún podrías sobreescribir clase por regex como backup:\n// if (/(segunda|2|dos|n[úu]mero 2)/.test(msg)) clase = 'clase2';\n\nreturn [\n  {\n    json: {\n      fecha,\n      clase,\n      nombre,\n      telefono\n    }\n  }\n];\n"
      },
      "id": "28c33d7b-599b-47d7-be72-666ad83b0303",
      "name": "Booking - Prepare1",
      "type": "n8n-nodes-base.code",
      "position": [
        1392,
        -144
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1buEZG0S7NU3c-T9gl7QvAxr2oOECycKbviAS34Aq3s4"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1buEZG0S7NU3c-T9gl7QvAxr2oOECycKbviAS34Aq3s4/edit#gid=0"
        },
        "options": {}
      },
      "id": "aaefafa0-2cec-4f85-9a2b-9e15a246b3ce",
      "name": "Booking - Read Sheet1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1600,
        -80
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bFSMR4bkgA01iR8u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all();\nconst base = $('Booking - Prepare1').first().json;\nconst today = base.fecha;\nconst clase = base.clase;\nlet count = 0;\nfor (const item of rows) {\n  if (item.json.fecha === today && item.json.clase === clase) {\n    count++;\n  }\n}\nreturn [{ json: { ...base, count } }];"
      },
      "id": "41d04ebb-103d-403a-b68c-b06f78b4e9e5",
      "name": "Booking - Count1",
      "type": "n8n-nodes-base.code",
      "position": [
        1808,
        -80
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cap-1",
              "operator": {
                "type": "number",
                "operation": "smaller"
              },
              "leftValue": "={{ $json.count }}",
              "rightValue": 5
            },
            {
              "id": "00170124-3491-483b-9cdd-f75e1e8feb35",
              "leftValue": "={{ $json.count }}",
              "rightValue": 5,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "cc90cbd3-7080-4719-8694-49892f53035c",
      "name": "If Capacity1",
      "type": "n8n-nodes-base.if",
      "position": [
        2016,
        -80
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1buEZG0S7NU3c-T9gl7QvAxr2oOECycKbviAS34Aq3s4/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1buEZG0S7NU3c-T9gl7QvAxr2oOECycKbviAS34Aq3s4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha": "={{ $json.fecha }}",
            "clase": "={{ $json.clase }}",
            "nombre": "={{ $json.nombre }}",
            "telefono": "={{ $json.telefono }}"
          },
          "matchingColumns": [
            "fecha"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clase",
              "displayName": "clase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3a0a2956-e235-4933-ac71-02e0e78c5ed3",
      "name": "Booking - Append1",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2192,
        -176
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bFSMR4bkgA01iR8u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "915165755012088",
        "recipientPhoneNumber": "={{ $('when message received').item.json.contacts[0].wa_id }}",
        "textBody": "={{ 'Tu reserva está confirmada para hoy para la ' + $json.clase + '.' }}",
        "additionalFields": {}
      },
      "id": "1783d3cf-9523-41f0-9659-f0c735deb64b",
      "name": "Send Booking Confirmation1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2400,
        -176
      ],
      "webhookId": "8da6eeda-31ec-448a-9d75-2d5dbc5f10f9",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "4HVsJumY6BdDiZca",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "915165755012088",
        "recipientPhoneNumber": "={{ $('when message received').item.json.contacts[0].wa_id }}",
        "textBody": "={{ 'Lo siento, la clase de hoy para ' + $json.clase + ' ya está llena (5 personas).' }}",
        "additionalFields": {}
      },
      "id": "241b2396-8707-4eb1-a856-71b50b821988",
      "name": "Send Booking No Capacity1",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        2192,
        16
      ],
      "webhookId": "8da6eeda-31ec-448a-9d75-2d5dbc5f10f9",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "4HVsJumY6BdDiZca",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Recibe: { answer, intent, clase, withinWindow? }\n// Crea un booleano isBooking a partir de intent\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const intent = (item.json.intent || '').toString().toLowerCase();\n  const isBooking = intent === 'booking';\n\n  return {\n    json: {\n      ...item.json,\n      isBooking\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        -176
      ],
      "id": "bdd68403-1cb5-48fc-9082-48f3da220706",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Code in JavaScript').item.json.isBooking }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "751efff3-b5fc-4572-8c96-02629bfeec7d"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "911d5714-ad82-469f-aa04-a697b80e53c5",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        1104,
        -112
      ],
      "id": "76165f51-0d96-46ae-9e27-15f12ea27609",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "when message received": {
      "main": [
        [
          {
            "node": "Intent Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Intent Router": {
      "main": [
        [
          {
            "node": "company's knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company's knowledge": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "cleanAnswer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cleanAnswer": {
      "main": [
        [
          {
            "node": "24-hour window check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24-hour window check": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking - Prepare1": {
      "main": [
        [
          {
            "node": "Booking - Read Sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking - Read Sheet1": {
      "main": [
        [
          {
            "node": "Booking - Count1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking - Count1": {
      "main": [
        [
          {
            "node": "If Capacity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Capacity1": {
      "main": [
        [
          {
            "node": "Booking - Append1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Booking No Capacity1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking - Append1": {
      "main": [
        [
          {
            "node": "Send Booking Confirmation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Booking - Prepare1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send AI Agent's Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa2d355b-ac3c-4932-b61a-ea6456e74980",
  "meta": {
    "instanceId": "c6f2dcaf75927c78c634a73e3eee47f43bd4ade1407e75973810e74a519b9844"
  },
  "id": "TDbC1FoAqf5U0H4W",
  "tags": []
}