Fase 2/Evidencias Proyecto/whatsapp_agent_community.json
{
  "name": "whats app agent community",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.finalPrompt }}\n\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are [Company]’s support assistant for Black Ball Sporting Club.\n• Do NOT include any preamble such as “Based on the document you provided” or “Okay, [Name].” Just jump straight to the answer.\n* don't ever start your response with\"based on the document you provided\" , or \"According to the document\", don't mention any documents at all , also don't mention today's date unless you asked\n"
        }
      },
      "id": "2b07a19f-1010-4e07-8928-9c2bc7c529af",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "maxTries": 5,
      "position": [
        -1264,
        96
      ],
      "retryOnFail": false,
      "typeVersion": 1.7,
      "alwaysOutputData": true,
      "waitBetweenTries": null
    },
    {
      "parameters": {
        "jsCode": "// cleanAnswer – run once per item\nlet txt = $('AI Agent').first().json.output || '';\n\n// 1. Remove bold / italic / strike markers\ntxt = txt.replace(/[*_~]+/g, '');\n\n// 2. Convert [Texto](https://url) → Texto https://url\ntxt = txt.replace(/\\[([^\\]]+)\\]\\((https?:\\/\\/[^\\s)]+)\\)/g, '$1 $2');\n\n// 3. Collapse 3+ blank lines\ntxt = txt.replace(/\\n{3,}/g, '\\n\\n').trim();\n\n// 4. Remove the unwanted source-reference preamble\ntxt = txt.replace(/^.*?based on the document you provided[,:]?\\s*/i, '');\n\nreturn [{ json: { answer: txt } }];\n"
      },
      "id": "f9e5da3a-bbf8-40a5-8e47-c866483216ee",
      "name": "cleanAnswer",
      "type": "n8n-nodes-base.code",
      "position": [
        0,
        0
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// within24h?  – run once per item\n// Meta (WhatsApp) timestamp arrives as seconds since epoch\nconst lastTs = Number($('when message received').first().json.messages[0].timestamp) * 1000;   // → ms\nconst withinWindow = Date.now() - lastTs < 24 * 60 * 60 * 1000;\n\nreturn [{ json: { withinWindow, answer: $json.answer, userId: $json.userId } }];"
      },
      "id": "9f617ea4-0d2f-4c0b-81eb-178d80bf5901",
      "name": "24-hour window check",
      "type": "n8n-nodes-base.code",
      "position": [
        -432,
        96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "d33e218e-a49a-49ed-9c6b-55b9ea0b0dbb",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.withinWindow }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "600c56e6-b8ba-49cb-9522-11af5c9f7b86",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -224,
        96
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "phoneNumberId": "915165755012088",
        "recipientPhoneNumber": "={{ $('when message received').item.json.contacts[0].wa_id }}",
        "template": "hello_world|en_US"
      },
      "id": "6f1afc32-430c-4883-a878-b8a023dc3e7e",
      "name": "Send Pre-approved Template Message to Reopen the Conversation",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        0,
        192
      ],
      "webhookId": "ef6de86f-66df-4586-bd75-2056626d5474",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "4HVsJumY6BdDiZca",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "915165755012088",
        "recipientPhoneNumber": "56936728871|",
        "textBody": "={{ $json.answer }}",
        "additionalFields": {}
      },
      "id": "6ae7dec5-4d04-4909-9c7e-89ccf24a80c8",
      "name": "Send AI Agent's Answer",
      "type": "n8n-nodes-base.whatsApp",
      "position": [
        224,
        0
      ],
      "webhookId": "8da6eeda-31ec-448a-9d75-2d5dbc5f10f9",
      "typeVersion": 1,
      "credentials": {
        "whatsAppApi": {
          "id": "4HVsJumY6BdDiZca",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3f54ce5f-2bf0-49ac-b6bb-1e72c7f0109f",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        -1296,
        320
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "FoXisJrzOryvNG56",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "instructions": "Write code to:\n• Get today’s date formatted “Month Day, Year”\n• Extract the Google Doc’s plain text by joining its body.content textRuns\n• Extract the WhatsApp message from messages[0].text.body\n• Build a field finalPrompt exactly as:\n\nvbnet\nCopy\nEdit\nToday's date is: [date]\n\n[doc text]\n\nUser's question:\n[body]\n• Return finalPrompt only.",
        "codeGeneratedForPrompt": "Write code to:\n• Get today’s date formatted “Month Day, Year”\n• Extract the Google Doc’s plain text by joining its body.content textRuns\n• Extract the WhatsApp message from messages[0].text.body\n• Build a field finalPrompt exactly as:\n\nvbnet\nCopy\nEdit\nToday's date is: [date]\n\n[doc text]\n\nUser's question:\n[body]\n• Return finalPrompt only.",
        "jsCode": "const googleDocs = $input.all().map((item) => item.json);\nconst whatsappMessages = $(\"when message received\")\n  .all()\n  .map((item) => item.json);\n\nconst date = new Date();\nconst formattedDate = `${date.getMonth() + 1} ${date.getDate()}, ${date.getFullYear()}`;\n\nconst docText = googleDocs[0].content.split(\"\\n\").join(\" \");\n\nconst body = whatsappMessages[0].messages[0].text.body;\n\nconst finalPrompt = `Today's date is: ${formattedDate}\\n\\n${docText}\\n\\nUser's question:\\n${body}`;\n\nreturn { finalPrompt };\n"
      },
      "id": "a383e4e3-4635-4d5e-890b-bb78937f86c1",
      "name": "Prepare Prompt",
      "type": "n8n-nodes-base.aiTransform",
      "position": [
        -1472,
        96
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1F8EfQrKE1Taj28WLvWtCwd_5aUSlZEP6hUTJMIHbtns",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1F8EfQrKE1Taj28WLvWtCwd_5aUSlZEP6hUTJMIHbtns/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d4b1c02d-261e-4a92-a965-42a09368ef3e",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        -656,
        96
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bFSMR4bkgA01iR8u",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dfc9667d-2137-495d-8425-b71c423b6395",
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        -880,
        96
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=1vUsOjk0rOXZNDsrLYSBKBPF8OWCQ8KRiVlLoj_4h4HE"
      },
      "id": "76314b43-35c3-4009-aff6-cd38441b2146",
      "name": "company's knowledge",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        -1696,
        96
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "3XDjQTHS7IICSvSI",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('when message received').item.json.contacts[0].wa_id }}"
      },
      "id": "662a367a-d76c-4021-8f74-7e480ba22a0c",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -1136,
        336
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "id": "4819b514-0f4c-4ddb-ba18-152fcaffb46c",
      "name": "when message received",
      "type": "n8n-nodes-base.whatsAppTrigger",
      "position": [
        -1920,
        96
      ],
      "webhookId": "6b645b70-61db-4d4d-af47-2f39295cf196",
      "typeVersion": 1,
      "executeOnce": false,
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "99ewG9RNMdABwReJ",
          "name": "WhatsApp OAuth account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "cleanAnswer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Pre-approved Template Message to Reopen the Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cleanAnswer": {
      "main": [
        [
          {
            "node": "Send AI Agent's Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "24-hour window check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "company's knowledge": {
      "main": [
        [
          {
            "node": "Prepare Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "24-hour window check": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "when message received": {
      "main": [
        [
          {
            "node": "company's knowledge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "303ffb86-81f2-4dde-bea5-ba9bff386289",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c6f2dcaf75927c78c634a73e3eee47f43bd4ade1407e75973810e74a519b9844"
  },
  "id": "kZlCYPsQfIO1qMHO",
  "tags": []
}